<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CharSelect</key>
	<dict>
		<key>fontScale(iOS)</key>
		<real>0.8</real>
		<key>fontScale(tvOS)</key>
		<integer>2</integer>
		<key>playerScale(iOS)</key>
		<real>0.75</real>
		<key>playerScale(tvOS)</key>
		<real>1.75</real>
	</dict>
	<key>CoffeeBean</key>
	<dict>
		<key>collectableScale(iOS)</key>
		<real>0.4</real>
		<key>collectableScale(tvOS)</key>
		<real>0.9</real>
	</dict>
	<key>Cop</key>
	<dict>
		<key>killObjectScale(iOS)</key>
		<integer>1</integer>
		<key>killObjectScale(tvOS)</key>
		<integer>2</integer>
	</dict>
	<key>Donut</key>
	<dict>
		<key>playerScale(iOS)</key>
		<real>0.6</real>
		<key>playerScale(tvOS)</key>
		<integer>1</integer>
	</dict>
	<key>EndingMenu</key>
	<dict>
		<key>fontSize(iOS)</key>
		<integer>25</integer>
		<key>fontSize(tvOS)</key>
		<integer>50</integer>
		<key>backgroundScale(iOS)</key>
		<real>0.5</real>
		<key>backgroundScale(tvOS)</key>
		<real>1.5</real>
	</dict>
	<key>MainMenu</key>
	<dict>
		<key>fontScale(iOS)</key>
		<real>0.8</real>
		<key>fontScale(tvOS)</key>
		<real>1.75</real>
		<key>highScorePositionX(iOS)</key>
		<real>0.2</real>
		<key>highScorePositionY(iOS)</key>
		<real>0.9</real>
		<key>highScorePositionX(tvOS)</key>
		<real>0.2</real>
		<key>highScorePositionY(tvOS)</key>
		<real>0.9</real>
		<key>playGamePositionX(iOS)</key>
		<real>0.5</real>
		<key>playGamePositionY(iOS)</key>
		<real>0.3</real>
		<key>playGamePositionX(tvOS)</key>
		<real>0.5</real>
		<key>playGamePositionY(tvOS)</key>
		<real>0.3</real>
		<key>playGamePosition(iOS)</key>
		<array>
			<real>0.3</real>
			<real>0.5</real>
		</array>
	</dict>
	<key>LayerHUD</key>
	<dict>
		<key>scoreText(iOS)</key>
		<string>Feet Walked</string>
		<key>scoreText(tvOS)</key>
		<string>Feet Walked</string>
		<key>scoreFontSize(iOS)</key>
		<integer>25</integer>
		<key>scoreFontSize(tvOS)</key>
		<integer>30</integer>
		<key>scoreImageNumber(iOS)</key>
		<string>2</string>
		<key>scoreImageNumber(tvOS)</key>
		<string>2</string>
	</dict>
</dict>
</plist>
