<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Score</key>
	<dict>
		<key>LabelText</key>
		<string>Feet Walked</string>
		<key>ImageNumber</key>
		<integer>2</integer>
		<key>LocationX</key>
		<real>0.5</real>
		<key>LocationY</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
